<footer>
    <div class="footer-items">
        <div class="contact-information">
            <h5>Contactanos</h5>
            <p>ventas@negocio.com</p>
            <p>Ubicacion</p>
        </div>
        <div class="policies">
            <br>
            <p>Politicas de Privacidad</p>
            <p>Politicas de Devolucion</p>
        </div>
    </div>
</footer>