<header>
    <div class="row-header">
        <div class="logo" id="logo">   
            <a href="/">
                <img src="/images/logo.png" alt="logo de Unisex">
            </a>
        </div>

        <div class="search-bar">
            <form action="GET">
                <input type="text" id="search" placeholder="Buscar">
                <div class="submit clickable">
                    <i class="fa fa-search"></i>
                </div>
            </form>
        </div>

        <nav class="navbar">
            <ul class="navbar-items">
                <li><a href="/registro">Registrarse</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="/carrito">Carrito</a></li>
            </ul>
        </nav>

    </div>
    
</header>